{{!-- This returned the actual name <h1>{{model.name}}</h1> --}}
{{#link-to "cryptos"}} Go back to your cryptos {{/link-to}}
{{crypto-list crypto=model updateCrypto='updateCrypto'}}
{{!-- <h1>Name: {{model.name}}</h1> --}}

<div class="background-coloring">
<h1>Asset: {{model.name}}</h1>
<h1 {{action 'toggleChart'}}>Units Owned: {{model.quantity}}</h1>
</div>

<script type="text/javascript" src = "https://widgets.cryptocompare.com/serve/v3/coin/chart?fsym={{model.name}}&tsyms=USD,EUR,CNY,GBP">
</script>
